.agenda-table { 
  width: 90%;
  margin: 20px auto;
  border-collapse: collapse;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.agenda-table th,
.agenda-table td {
  border: 1px solid #333;
  padding: 12px;
  text-align: left;
}

.agenda-table thead {
  background-color: #0b0932;
}

.agenda-table th {
  font-weight: bold;
}

.agenda-table tbody tr:nth-child(even) {
  background-color: #2a2a2a;
}

.agenda-table tbody tr:hover {
  background-color: #3a3a3a;
}